Repository Basiiii/Profit-Taker-Analytics, pull requests merged in 2024-02, with the labels that each got.

#26 Major Changes and Preparation for Beta Testing
  CONTRIBUTING.md
  LICENSE
  README.md
  app/.gitignore
  app/LICENSE
  app/README.md
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/lib/constants/constants.dart
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/run_storage/runs_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/screens/storage/storage_screen.dart
  app/lib/services/last_runs.dart
  app/lib/services/parser.dart
  app/lib/theme/app_theme.dart
  app/lib/widgets/dialogs.dart
  app/lib/widgets/last_runs.dart
  app/pubspec.lock
  app/pubspec.yaml
  parser/LICENSE
  parser/README.md
  parser/main.py
  parser/src/analyzer.py
  parser/src/exceptions/bugged_run.py
  parser/src/exceptions/run_abort.py
  parser/src/json/run_format.json
  parser/src/utils.py
Labels: bug, documentation, enhancement, app, parser

#37 Fix v0.4.0 issues
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/assets/icons/ANALYTICS_GREY.svg
  app/assets/icons/ANALYTICS_SELECTED.svg
  app/lib/constants/constants.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/services/parser.dart
  app/lib/widgets/navigation_bar.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: enhancement, app

#38 Closes #28
  parser/src/analyzer.py
Labels: enhancement, parser

#39 Many Fixes & Closes #36
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/lib/services/parser.dart
  app/lib/widgets/dialogs.dart
  app/lib/widgets/last_runs.dart
Labels: enhancement, app

#42 Fix Run Numbering & App Fixes
  app/lib/screens/home/home_data.dart
  parser/src/analyzer.py
Labels: bug, parser

#43 Prepare for V0.7.0 BETA
  app/assets/AppIcon.png
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/assets/icons/STORAGE_SELECTED.svg
  app/lib/constants/constants.dart
  app/windows/runner/resources/app_icon.ico
Labels: enhancement, app

#44 0.7.0 Preparation
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/lib/constants/constants.dart
  app/pubspec.lock
  app/windows/runner/resources/app_icon.ico
  tools/run_parser.ahk
Labels: enhancement, app

#45 Update documentation
  README.md
  assets/PT_Analytics.png
  assets/analytics_screen.png
  assets/home_screen.png
  assets/storage_screen.png
Labels: documentation

#49 Add French support
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
Labels: enhancement, app

#50 Update README.md to acknowledge Reava's contributions
  README.md
Labels: documentation
