Repository Basiiii/Profit-Taker-Analytics, pull requests merged in 2024-01, with the labels that each got.

#1 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: documentation

#3 Initialize Repository
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  app/README.md
  parser/README.md
Labels: documentation

#4 Initial App Basis
  .gitignore
  app/.gitignore
  app/.metadata
  app/analysis_options.yaml
  app/assets/HOME_ICON.svg
  app/assets/PLUS_ICON.svg
  app/assets/SETTINGS_ICON.svg
  app/fonts/Custom-Icons.ttf
  app/fonts/DMMono-Italic.ttf
  app/fonts/DMMono-Light.ttf
  app/fonts/DMMono-LightItalic.ttf
  app/fonts/DMMono-Medium.ttf
  app/fonts/DMMono-MediumItalic.ttf
  app/fonts/DMMono-Regular.ttf
  app/fonts/Poppins-Black.ttf
  app/fonts/Poppins-Bold.ttf
  app/fonts/Poppins-ExtraBold.ttf
  app/fonts/Poppins-ExtraLight.ttf
  app/fonts/Poppins-Light.ttf
  app/fonts/Poppins-Regular.ttf
  app/fonts/Poppins-SemiBold.ttf
  app/fonts/Rubik-Black.ttf
  app/fonts/Rubik-Bold.ttf
  app/fonts/Rubik-ExtraBold.ttf
  app/fonts/Rubik-Light.ttf
  app/fonts/Rubik-Medium.ttf
  app/fonts/Rubik-Regular.ttf
  app/fonts/Rubik-SemiBold.ttf
  app/lib/main.dart
  app/lib/screens/advanced_screen.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings_screen.dart
  app/lib/theme/app_theme.dart
  app/lib/theme/custom_icons.dart
  app/lib/widgets/navigation_bar.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
  app/windows/.gitignore
  app/windows/CMakeLists.txt
  app/windows/flutter/CMakeLists.txt
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugin_registrant.h
  app/windows/flutter/generated_plugins.cmake
  app/windows/runner/CMakeLists.txt
  app/windows/runner/Runner.rc
  app/windows/runner/flutter_window.cpp
  app/windows/runner/flutter_window.h
  app/windows/runner/main.cpp
  app/windows/runner/resource.h
  app/windows/runner/resources/app_icon.ico
  app/windows/runner/runner.exe.manifest
  app/windows/runner/utils.cpp
  app/windows/runner/utils.h
  app/windows/runner/win32_window.cpp
  app/windows/runner/win32_window.h
Labels: enhancement, app

#5 Delete .gitignore
  .gitignore
Labels: documentation

#8 Added Light Mode & Finished Data
  app/assets/BOX_ICON.svg
  app/assets/SETTINGS_ICON.svg
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/run_storage/runs_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/theme/app_theme.dart
  app/lib/theme/theme_control.dart
  app/lib/widgets/navigation_bar.dart
  app/lib/widgets/text_widgets.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: enhancement, app

#9 Parser Executor + Multiple Fixes
  app/assets/AppIcon.png
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/utils/utils.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  app/windows/runner/main.cpp
Labels: enhancement, app

#10 Readme header
  README.md
  assets/PT_Analytics.png
Labels: documentation

#11 Added Settings Scrren & Small Cleanups
  app/fonts/Custom-Icons.ttf
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/theme/app_theme.dart
  app/lib/theme/custom_icons.dart
  app/lib/utils/utils.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
Labels: enhancement, app

#12 Implemented Health Check
  app/lib/screens/home/home_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/utils/utils.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: enhancement, app

#13 Update UI with Data
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/utils/parser.dart
  app/lib/utils/utils.dart
  app/lib/widgets/home_widgets.dart
  app/lib/widgets/loading_overlay.dart
  app/lib/widgets/text_widgets.dart
Labels: enhancement, app

#15 Implement Data Fetch from API
  app/.gitignore
  app/installers/desktop_inno_script.iss
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/theme/theme_control.dart
  app/lib/utils/dialogs.dart
  app/lib/utils/parser.dart
  app/lib/utils/screenshot.dart
  app/lib/utils/utils.dart
  app/windows/runner/resources/app_icon.ico
Labels: documentation, enhancement, app

#16 Project Clean Up
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/services/parser.dart
  app/lib/widgets/dialogs.dart
Labels: bug, documentation, app

#17 App Responsiveness - Closes #14
  app/lib/constants/constants.dart
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
Labels: enhancement, app

#19 App v0.1 i18n
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/zh.json
  app/lib/constants/constants.dart
  app/lib/main.dart
  app/lib/screens/home/home_data.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/services/parser.dart
  app/lib/theme/custom_icons.dart
  app/lib/utils/language.dart
  app/lib/widgets/dialogs.dart
  app/lib/widgets/loading_overlay.dart
  app/lib/widgets/navigation_bar.dart
  app/pubspec.lock
  app/pubspec.yaml
  app/test/widget_test.dart
Labels: enhancement, app

#20 Parser cleanup
  .vscode/settings.json
  parser/.gitignore
  parser/README.md
  parser/main.py
  parser/requirements.txt
  parser/src/analyzer.py
  parser/src/enums/abbreviation_enum.py
  parser/src/enums/damage_types.py
  parser/src/exceptions/bugged_run.py
  parser/src/exceptions/log_end.py
  parser/src/exceptions/run_abort.py
  parser/src/json/run_format.json
  parser/src/utils.py
Labels: parser

#21 Fix app v0.1 issues
  app/assets/BOX_ICON.svg
  app/assets/HOME_ICON.svg
  app/assets/PLUS_ICON.svg
  app/assets/SETTINGS_ICON.svg
  app/assets/i18n/en.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/zh.json
  app/assets/icons/HOME_GREY.svg
  app/assets/icons/HOME_SELECTED.svg
  app/assets/icons/HOME_WHITE.svg
  app/assets/icons/PLUS_GREY.svg
  app/assets/icons/PLUS_SELECTED.svg
  app/assets/icons/PLUS_WHITE.svg
  app/assets/icons/SETTINGS_GREY.svg
  app/assets/icons/SETTINGS_SELECTED.svg
  app/assets/icons/SETTINGS_WHITE.svg
  app/assets/icons/STORAGE_GREY.svg
  app/assets/icons/STORAGE_SELECTED.svg
  app/assets/icons/STORAGE_WHITE.svg
  app/devtools_options.yaml
  app/installers/desktop_inno_script.iss
  app/lib/constants/constants.dart
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/services/parser.dart
  app/lib/widgets/navigation_bar.dart
  app/pubspec.yaml
  parser/requirements.txt
  parser/src/analyzer.py
Labels: bug, enhancement, app

#22 Alpha v0.2 preparation
  README.md
  app/assets/i18n/ru.json
  app/lib/constants/constants.dart
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/home_widgets.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/services/parser.dart
  app/lib/theme/app_theme.dart
  app/lib/theme/theme_control.dart
  app/lib/utils/language.dart
  app/lib/widgets/loading_overlay.dart
  app/lib/widgets/navigation_bar.dart
  app/pubspec.yaml
Labels: documentation, app
