Repository Basiiii/Profit-Taker-Analytics, pull requests merged in 2025-01, with the labels that each got.

#75 Clean up app
  ERD.vpp
  ERD.vpp.bak_000f
  app/assets/icons/ANALYTICS_GREY.svg
  app/assets/icons/ANALYTICS_SELECTED.svg
  app/assets/icons/HOME_GREY.svg
  app/assets/icons/HOME_SELECTED.svg
  app/assets/icons/HOME_WHITE.svg
  app/assets/icons/PLUS_SELECTED.svg
  app/assets/icons/PLUS_WHITE.svg
  app/assets/icons/SETTINGS_GREY.svg
  app/assets/icons/SETTINGS_SELECTED.svg
  app/assets/icons/SETTINGS_WHITE.svg
  app/assets/icons/STORAGE_GREY.svg
  app/assets/icons/STORAGE_SELECTED.svg
  app/assets/icons/STORAGE_WHITE.svg
  app/lib/constants/app_constants.dart
  app/lib/constants/app_links.dart
  app/lib/main.dart
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/ui/error_view.dart
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/ui/no_runs_available.dart
  app/lib/screens/home/utils/translations.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/screens/settings/ui/about_section.dart
  app/lib/screens/settings/ui/general_section.dart
  app/lib/screens/settings/ui/key_config_section.dart
  app/lib/screens/settings/ui/links_section.dart
  app/lib/screens/settings/utils/key_handler.dart
  app/lib/screens/settings/utils/language_utils.dart
  app/lib/services/screenshot_service.dart
  app/lib/services/settings_service.dart
  app/lib/theme/theme_provider.dart
  app/lib/utils/action_keys.dart
  app/lib/utils/initialize_window_manager.dart
  app/lib/widgets/navigation_bar.dart
Labels: documentation, app

#77 Update PTA_Diagrams.vpp
  PTA_Diagrams.vpp
Labels: documentation

#74 Reorganized rust_core
  rust_core/android/build.gradle
  rust_core/cargokit/run_build_tool.sh
  rust_core/flutter_rust_bridge.yaml
  rust_core/ios/rust_core.podspec
  rust_core/lib/rust_core.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/.gitignore
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_database/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_database/src/lib.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/lib.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
  rust_core/lib_profit_taker/src/lib.rs
  rust_core/linux/CMakeLists.txt
  rust_core/macos/rust_core.podspec
  rust_core/rust/Cargo.toml
  rust_core/rust/src/api/mod.rs
  rust_core/rust/src/lib.rs
  rust_core/windows/CMakeLists.txt
Labels: rust_core

#81 Cargo Clippy Suggestions
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/leg_break.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/leg_position.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/phase.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/run.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/shield_change.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/squad_member.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/status_effect.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/total_times.rs
Labels: rust_core
