Repository Basiiii/Profit-Taker-Analytics, pull requests merged in 2025-02, with the labels that each got.

#88 Rust Core Database Update
  PTA_Diagrams.vpp
  app/lib/main.dart
  app/pubspec.yaml
  rust_core/example/lib/main.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/api/database/delete.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_database/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_database/src/connection.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/error.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/lib.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/delete_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_earliest_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_latest_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_next_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_previous_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_run_data.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/insert_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/run_exists.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/leg_break_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/phase_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/run_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/shield_change_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/squad_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/schema.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/main.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: rust_core

#89 Update DB Schema
  PTA_Diagrams.vpp
  rust_core/lib_profit_taker/lib_profit_taker_database/src/schema.rs
Labels: rust_core

#91 Update App to Use Package
  app/lib/constants/app_constants.dart
  app/lib/screens/home/services/run_navigator.dart
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/widgets/run_analysis/compact_run_analysis.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_overview_card.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_phase_card.dart
  app/lib/screens/home/widgets/run_analysis/standard_run_analysis.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/overview_card.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/phase_card.dart
  app/lib/services/database/database_maps.dart
  app/lib/services/database/database_schema.dart
  app/lib/services/database/database_service.dart
  app/lib/services/run_navigation_service.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/latest_run.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app, rust_core

#92 Add Onboarding
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/assets/images/main_nav.png
  app/assets/images/navigation.png
  app/assets/images/screenshot.png
  app/assets/images/welcome.png
  app/lib/screens/home/home_screen.dart
  app/lib/screens/home/widgets/home_header.dart
  app/lib/screens/home/widgets/onboarding_popup.dart
  app/lib/theme/app_theme.dart
  app/pubspec.yaml
Labels: app

#93 Add Favorites Table
  PTA_Diagrams.vpp
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/delete_favorite.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/insert_favorite.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/favorite_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/schema.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app, rust_core

#94 Update Run Name
  PTA_Diagrams.vpp
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/favorite/favorite_screen.dart
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/widgets/edit_run_name.dart
  app/lib/screens/home/widgets/run_title.dart
  app/lib/screens/storage/storage_screen.dart
  app/lib/services/run_navigation_service.dart
  app/lib/widgets/dialogs.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/edit_run_name.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/run_repo.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app

#95 Rust core parser
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/run.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/shield_change.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/cli.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/constants.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/lib.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/line_utils.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/main.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/events.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/loop.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/phase.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser_initializer.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser_state.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: rust_core

#96 Function to Copy Run as Text
  rust_core/example/lib/main.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: rust_core

#97 Implement Copy Run as Text Button
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/widgets/run_title.dart
Labels: app

#100 Normalize Run Fetching
  app/lib/main.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/phase_card.dart
  app/lib/utils/initialize_parser.dart
  rust_core/example/lib/main.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app, rust_core

#102 Fixes app layout
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/widgets/edit_run_name.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_overview_card.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_phase_card.dart
  app/lib/screens/home/widgets/run_title.dart
  rust_core/lib/src/lib_profit_taker/api.dart
Labels: app

#103 Implement PB and SB Logic to App
  app/lib/screens/home/ui/home_content.dart
  app/lib/screens/home/widgets/run_analysis/standard_run_analysis.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/overview_card.dart
  app/lib/screens/home/widgets/run_title.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/check_is_pb.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_pb_times.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_second_best_times.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app, rust_core

#104 added deserializer (to be finished) for old run json files & more
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/leg_break.rs
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/shield_change.rs
  rust_core/lib_profit_taker/src/lib.rs
  rust_core/lib_profit_taker/src/utils/json_to_db.rs
  rust_core/lib_profit_taker/src/utils/mod.rs
Labels: rust_core

#105 Home Screen Update
  app/lib/screens/home/widgets/run_analysis/compact_run_analysis.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_overview_card.dart
  app/lib/screens/home/widgets/run_analysis/compact_view/compact_phase_card.dart
  app/lib/screens/home/widgets/run_analysis/standard_run_analysis.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/overview_card.dart
  app/lib/screens/home/widgets/run_analysis/standard_view/phase_card.dart
  app/pubspec.lock
  app/pubspec.yaml
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/Cargo.toml
  rust_core/lib_profit_taker/lib_profit_taker_core/src/models/shield_change.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/phase_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/shield_change_repo.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/schema.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/line_utils.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/events.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser_initializer.rs
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser_state.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
  rust_core/lib_profit_taker/src/utils/json_to_db.rs
Labels: app

#106 Refactor Storage Screen
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/app.dart
  app/lib/app_layout.dart
  app/lib/screens/home/widgets/run_title.dart
  app/lib/screens/storage/model/column_mapping.dart
  app/lib/screens/storage/model/run_list_model.dart
  app/lib/screens/storage/storage_screen.dart
  app/lib/screens/storage/utils/delete_run.dart
  app/lib/screens/storage/utils/favorite_run.dart
  app/lib/screens/storage/utils/view_run.dart
  app/lib/widgets/edit_run_name.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/check_is_pb.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_paginated_runs.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_run_data.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/repositories/run_repo.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app

#109 added documenation to converter
  rust_core/lib_profit_taker/Cargo.lock
  rust_core/lib_profit_taker/Cargo.toml
  rust_core/lib_profit_taker/src/utils/json_to_db.rs
Labels: rust_core

#111 Refactor Analytics Page
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/analytics/analytics_data.dart
  app/lib/screens/analytics/analytics_screen.dart
  app/lib/screens/analytics/ui/average_cards_section.dart
  app/lib/screens/analytics/ui/graph_widget.dart
  app/lib/screens/analytics/utils/average_cards.dart
  app/lib/screens/analytics/utils/index_to_threshold_colors_map.dart
  app/lib/screens/analytics/widgets/build_average_cards.dart
  app/lib/screens/analytics/widgets/header.dart
  app/lib/screens/analytics/widgets/main_content.dart
  app/lib/screens/analytics/widgets/subtitle.dart
  app/lib/utils/formatting/replace_new_lines.dart
  rust_core/lib/src/lib_profit_taker/api.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.io.dart
  rust_core/lib/src/lib_profit_taker/frb_generated.web.dart
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_analytics_data.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/fetch_average_times.rs
  rust_core/lib_profit_taker/lib_profit_taker_database/src/queries/mod.rs
  rust_core/lib_profit_taker/src/api/mod.rs
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: app

#112 Linux Fixes
  app/.metadata
  app/android/.gitignore
  app/android/app/build.gradle
  app/android/app/src/debug/AndroidManifest.xml
  app/android/app/src/main/AndroidManifest.xml
  app/android/app/src/main/kotlin/com/example/profit_taker_analyzer/MainActivity.kt
  app/android/app/src/main/res/drawable-v21/launch_background.xml
  app/android/app/src/main/res/drawable/launch_background.xml
  app/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/android/app/src/main/res/values-night/styles.xml
  app/android/app/src/main/res/values/styles.xml
  app/android/app/src/profile/AndroidManifest.xml
  app/android/build.gradle
  app/android/gradle.properties
  app/android/gradle/wrapper/gradle-wrapper.properties
  app/android/settings.gradle
  app/linux/.gitignore
  app/linux/CMakeLists.txt
  app/linux/flutter/CMakeLists.txt
  app/linux/flutter/generated_plugin_registrant.cc
  app/linux/flutter/generated_plugin_registrant.h
  app/linux/flutter/generated_plugins.cmake
  app/linux/runner/CMakeLists.txt
  app/linux/runner/main.cc
  app/linux/runner/my_application.cc
  app/linux/runner/my_application.h
Labels: app

#113 Add Indexing to DB
  PTA_Diagrams.vpp
  rust_core/lib_profit_taker/lib_profit_taker_database/src/schema.rs
Labels: rust_core

#115 Generate Dart Package
  rust_core/lib/src/lib_profit_taker/frb_generated.dart
  rust_core/lib_profit_taker/src/frb_generated.rs
Labels: rust_core

#116 Update Version Info
  app/lib/constants/app/app_constants.dart
  app/pubspec.yaml
Labels: app, rust_core

#126 View Onboarding Multiple Times
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/home/home_screen.dart
  app/lib/screens/settings/settings_screen.dart
  app/lib/screens/settings/ui/general_section.dart
  app/lib/widgets/dialogs/show_onboarding_dialog.dart
Labels: app

#127 View Record Runs Button
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/home/widgets/home_header.dart
  app/lib/widgets/dialogs/record_runs_dialog.dart
  app/pubspec.lock
  app/pubspec.yaml
Labels: enhancement, app

#128 Update Licenses & Documentation
  CONTRIBUTING.md
  LICENSE
  README.md
  app/LICENSE
  app/README.md
  rust_core/CHANGELOG.md
  rust_core/LICENSE
  rust_core/README.md
Labels: documentation

#129 Implement UI Button
  app/assets/i18n/en.json
  app/assets/i18n/fr.json
  app/assets/i18n/pt.json
  app/assets/i18n/ru.json
  app/assets/i18n/tr.json
  app/assets/i18n/zh.json
  app/lib/screens/settings/settings_screen.dart
  app/lib/screens/settings/ui/general_section.dart
  app/lib/screens/settings/utils/select_folder.dart
  app/lib/utils/system/folder.dart
  app/linux/flutter/generated_plugin_registrant.cc
  app/linux/flutter/generated_plugins.cmake
  app/pubspec.lock
  app/pubspec.yaml
  app/windows/flutter/generated_plugin_registrant.cc
  app/windows/flutter/generated_plugins.cmake
  rust_core/lib_profit_taker/lib_profit_taker_parser/src/parser/loop.rs
  rust_core/lib_profit_taker/src/utils/json_to_db.rs
Labels: enhancement, app

#133 Update Onboarding
  app/assets/i18n/en.json
  app/assets/images/main_nav.png
Labels: enhancement, app
